.home-root {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: linear-gradient(to bottom right, #d9f8d6, #a1e4a2);
}

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.3);

  backdrop-filter: blur(5px);
  border-bottom: 2px solid rgba(255, 255, 255, 0.4);
}

.site-title {
  font-size: 28px;
  font-weight: bold;
  color: #2e7d32;
}

.nav-buttons button {
  background: transparent;
  border: none;
  font-size: 16px;
  margin-left: 20px;
  cursor: pointer;
  color: #1b5e20;
  font-weight: 500;
  transition: color 0.3s;
}

.nav-buttons button:hover {
  color: #004d40;
}

.login-btn {
  background-color: #2e7d32;
  color: #1b5e20;
  padding: 8px 14px;
  border-radius: 6px;
}

.split-container {
  display: flex;
  flex: 1;
  height: 100%;
}

.split-section {
  flex: 1;
  background-size: cover;
  background-position: center;
  position: relative;
  cursor: pointer;
  transition: flex 0.5s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.split-section h2 {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 1.5rem;
  transition: transform 0.3s;
}

.split-section:hover {
  flex: 1.2;
}

.split-section:hover h2 {
  transform: scale(1.1);
}